{% extends "base.html" %}

{% block app_content %}
<br />

<h2>Pantry Items</h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
      </tr>
    </thead>
    <tbody>
        {% for ingredient in pantry_items %}
        <tr>
            <td>
                <img src="{{ingredient['photo_url']}}" alt="" style="width:50px" />
            </td>
            <td>{{ingredient['food_item']}}</td>
            <td>
                <form method="post" action="{{url_for('remove_from_pantry')}}" enctype="multipart/form-data">
                    <input type="hidden" value="{{ingredient['food_item_id']}}" name="ingredient_id"  />
                    <input type="submit" value="Remove Item from Pantry" />
                </form>
            </td>
            <td>
                <form method="post" action="{{url_for('add_to_shopping_list')}}" enctype="multipart/form-data">
                    <input type="hidden" value="{{ingredient['food_item']}}" name="ingredient" />
                    <input type="hidden" value="{{ingredient['food_item_id']}}" name="ingredient_id"  />
                    <input type="submit" value="Add to Shopping List" />
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{url_for('add_to_pantry')}}" enctype="multipart/form-data">
                <td>
                    <input type="text" name="ingredient" />
                    <input type="hidden" name="ingredient_id" value="-1" />
                </td>
                <td>
                    <input type="submit" value="Add to Pantry" />
                </td>
            </form>
        </tr>
    </tbody>
</table>

<br />

<div class="row">
    <div class="col-xs-4">
        <form method="post" action="{{url_for('call_api')}}" enctype="multipart/form-data" >
            {% for ingredient in pantry_items %}
                <input type="hidden" value="{{ingredient['food_item']}}" name="ingredients"/>
            {% endfor %}
            <input type="hidden" value=1 name="ranking" />
            <input type="submit" class="btn btn-default" value="Get Recipes Minimizing Missing Ingredients"/>
        </form>
    </div>
    <div class="col-xs-4">
        <form method="post" action="{{url_for('call_api')}}" enctype="multipart/form-data" >
            {% for ingredient in pantry_items %}
                <input type="hidden" value="{{ingredient['food_item']}}" name="ingredients"/>
            {% endfor %}
            <input type="hidden" value=2 name="ranking" />
            <input type="submit" class="btn btn-default" value="Get Recipes Maximizing Existing Ingredients"/>
        </form>
    </div>
</div>

<br />
{% if possible_recipes|length > 0 %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in possible_recipes %}
            <tr>
                <td>
                    <img src="{{recipe['photo_link']}}" alt="" style="width:50px" />
                </td>
                <td>{{recipe['id']}}</td>
                <td>
                    <a href="{{recipe['link']}}" target="_blank">{{recipe['title']}}</a>
                </td>
                <td>
                    <form method="post" action="{{url_for('save_recipe')}}">
                        <input type="hidden" value="{{recipe['id']}}" name="recipe_id" />
                        <input type="submit" value="Save Recipe" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
<br />

<h2>Shopping List</h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
      </tr>
    </thead>
    <tbody>
        {% for item in shopping_list %}
        <tr>
            <td>
                <img src="{{item['photo_url']}}" alt="" style="width:50px" />
            </td>
            <td>{{item['food_item']}}</td>
            <td>
                <form method="post" action="{{url_for('remove_from_shopping_list')}}" enctype="multipart/form-data">
                    <input type="hidden" value="{{item['food_item_id']}}" name="list_item_id" />
                    <input type="submit" value="Remove from List" />
                </form>
            </td>
            <td>
                <form method="post" action="{{url_for('add_to_pantry')}}" enctype="">
                    <input type="hidden" value="{{item['food_item']}}" name="ingredient" />
                    <input type="hidden" value="{{item['food_item_id']}}" name="ingredient_id" />
                    <input type="submit" value="Add to Pantry" />
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ url_for('add_to_shopping_list') }}" enctype="multipart/form-data">
                <td>
                    <input type="text" name="ingredient" />
                    <input type="hidden" name="ingredient_id" value="-1" />
                </td>
                <td>
                    <input type="submit" value="Add ingredient" />
                </td>
            </form>
        </tr>
    </tbody>
</table>

<a href="{{url_for('make_printable_shopping_list')}}" class="btn btn-default" target="_blank">Export and Print Shopping List</a>

<h2>Saved Recipes</h2>
<table class="table table-hover">
    <thead>
      <tr>
          <th></th>
          <th>ID</th>
          <th>Title</th>
      </tr>
    </thead>
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td>
                <img src="{{recipe['photo_link']}}" alt="" style="width:50px" />
            </td>
            <td>{{recipe['id']}}</td>
            <td>
                <a href="{{recipe['link']}}" target="_blank">{{recipe['title']}}</a>
            </td>
            <td>
                <form method="post" action="{{url_for('remove_recipe_from_saved')}}" enctype="">
                    <input type="hidden" value="{{recipe['id']}}" name="recipe_id" />
                    <input type="submit" value="Remove Recipe" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
